
@charset "utf-8";
/* CSS Document */
body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
	margin: 0; padding: 0; border: 0;
}

#body{
background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #FFC054),
	color-stop(0.21, #FFFFFF)
);
background-image: -o-linear-gradient(bottom, #FFC054 0%, #FFFFFF 21%);
background-image: -moz-linear-gradient(bottom, #FFC054 0%, #FFFFFF 21%);
background-image: -webkit-linear-gradient(bottom, #FFC054 0%, #FFFFFF 21%);
background-image: -ms-linear-gradient(bottom, #FFC054 0%, #FFFFFF 21%);
background-image: linear-gradient(to bottom, #FFC054 0%, #FFFFFF 21%);
}
#borde_mas_cont{
width: 1300px;
height: 850px;
}
#borde_marcas{
width:250px;
height:850px;
float:left;
}
#contenedor{
	width:1000px;
	height:850px;
	float:left;
	
background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #FFC054),
	color-stop(0.21, #FFFFFF)
);
background-image: -o-linear-gradient(bottom, #FFC054 0%, #FFFFFF 21%);
background-image: -moz-linear-gradient(bottom, #FFC054 0%, #FFFFFF 21%);
background-image: -webkit-linear-gradient(bottom, #FFC054 0%, #FFFFFF 21%);
background-image: -ms-linear-gradient(bottom, #FFC054 0%, #FFFFFF 21%);
background-image: linear-gradient(to bottom, #FFC054 0%, #FFFFFF 21%);
	}
	

	#texto_inicio{
	padding-left: 30px;
	margin-right: 30px;
	padding-top: 50px;
	width: 970px;
	height: 550px;
	text-align:left;
	
	}
	

	#arriba{
	width:1000px;
	height: 150px;

	}


#texto{

font-weight:bold; 
padding-left: 80px;
text-align: left;

}

	#abajo{
	width:1000px;
	height: 550px;
	}

	
	
	#abajo_izq{
	width:600px;
	height: 550px;
	padding-left: 50px;
	float:left;
	}
		#slide_index{
width: 500px;
height: 350px;
float:left;
}

		#div_texto{
float:left;
width: 500px;
height: 200px;
padding-top:40px;
text-align:center;
padding-right: 50px;
}

	#abajo_derecha{
	width:350px;
	height:550px;
	float:right;
	}
		#div_login{
	width:350px;
	height:200px;
	float:left;
	}
		#porque{
	width:350px;
	height: 350px;
	float:left;
	}
	#pie{
	width:1000px;
	height: 30px;
	text-align:left;
	
	}
